source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget log4net ~> 2.0

github WarwickEPR/Endorphin.Core src/Endorphin.Core.Choice.fs
github WarwickEPR/Endorphin.Core src/Endorphin.Core.Control.fs
github WarwickEPR/Endorphin.Core src/Endorphin.Core.String.fs
github WarwickEPR/Endorphin.Core src/Endorphin.Core.Units.fs

group Build
    source https://nuget.org/api/v2

    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
